.features {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 0;
    display: flex;
}

.features_section {
    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
    min-width: 1440px;
    width: 100%;
}

ul.features_list {
    display: table-row;
}

.mark {
    /* list-style-image: url(../images/mark.svg); */
    background: url(../images/mark.svg) no-repeat left top;
    padding: 4px 10px 10px 30px;
    margin: 10px 0 10px 0;
}

.right_features {
    width: 400px;
    position: relative;
    top: 60px;
    left: 20%;
}

.features_image {
    width: 500px;
    margin-top: 0px;
}

@media screen and (min-width: 1500px) {
    .features_section .container {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: auto;
        margin-right: auto;
    }
    .features_image {
        padding-left: 150px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1339px) {
    .features_section {
        min-width: 950px;
        width: 100%;
    }
    .features_section .container {
        min-width: 950px;
        margin-left: 0px;
        width: 100%;
    }
    .features_image {
        max-width: 400px;
        max-height: 325px;
        width: auto;
        height: auto;
    }
    .right_features {
        top: 10px;
        width: 40%;
        margin-left: -12%;
        padding-right: 70px;
    }
    .right_features .title,
    .right_features .paragraph {
        width: 300px;
    }
    .features {
        align-items: center;
        justify-content: space-around;
        min-width: 750px;
        width: 80%;
    }
}