.footer_section {
    width: 100%;
    min-width: 1440px;
}

footer {
    background: #F6F5F5;
    height: 247px;
    /* position: relative; */
    z-index: -1;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1500px) {
    .footer {
        position: static;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
}

.copyrights {}

.social_networks_block {
    display: flex;
}

.social_networks {
    height: 70px;
}

.footer_logo {
    display: flex;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}


/* logo */

.logo_title {
    margin-top: 10px;
}

.lassles {
    padding: 0;
    color: #0B132A;
    font-weight: 500;
}

.vpn {
    padding: 0;
    color: #0B132A;
    font-weight: 700;
}

.logo {
    vertical-align: middle;
    height: 35px;
}