.footer_section {
    position: relative;
    z-index: -2;
    width: 100%;
    min-width: 1440px;
    background: #F6F5F5;
}

footer {
    height: 247px;
    max-width: 1140px;
    position: relative;
    z-index: -1;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1500px) {
    .footer {
        position: static;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 950px) and (max-width: 1339px) {
    .footer_section {
        min-width: 0;
        width: 100%;
    }
}

.subscription_info {
    background: #fff;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 0;
    margin-top: -130px;
    /* width: 1140px; */
    max-width: 1140px;
    width: 79%;
    height: 233px;
    border-radius: 10px;
    box-shadow: 20px 20px 114px -50px #0D1025;
}

.subscribe_now {
    width: 250px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 80px;
    font-weight: bold;
    line-height: 25px;
    background: #F53838;
    border-radius: 10px;
    border: 0;
    color: white;
    box-shadow: 0 40px 40px -20px #F53838;
}

.subs_info_text .title {
    margin-top: 70px;
    margin-left: 80px;
}

.subs_info_text .paragraph {
    margin-left: 80px;
    margin-top: -5px;
}

.copyrights {
    /* margin-left: 50px; */
    margin-top: 165px;
}

.social_networks_block {
    margin-top: 175px;
    /* margin-left: 320px; */
    display: flex;
}

.social_networks {
    height: 70px;
}

.footer_logo {
    display: flex;
    margin-top: 165px;
    /* margin-left: 350px;  */
}